{% include "_layout.html" %}
<h2 class="text-center mb-4">
	{% if current_user.is_anonymous %}
	Welcome to NEXTAGRAM
	{% else %}
	Welcome {{ current_user.username }}
	{% endif %}
</h2>

{% if current_user.is_anonymous %}
<div class="container">
	<div class="row">
		<div class="col-lg-6 col-md-12">
			{% extends "login_form.html" %}
		</div>
		<hr>
		<div class="col-lg-6 col-md-12">
			{% include "register_form.html" %}
		</div>
	</div>
</div>
{% else %}
<!-- Blocks of posts -->
	<div class="col-sm-12">
		<div class="card">
			<img class="card-img-top" src="../../../../static/image/saint_petersburg.jpg" alt="Saint Petersburg">
			<div class="card-body">
				<div class="d-flex justify-content-start status-container">
					<div class="status">
						<input type="checkbox" name="emoji" id="smile">
						<label for="smile" class="icon icon-smile"></label>
						<span>2</span>
					</div>
					<div class="status">
						<input type="checkbox" name="emoji" id="shocked">
						<label for="shocked" class="icon icon-shocked"></label>
						<span>2</span>
					</div>
					<div class="status">
						<input type="checkbox" name="emoji" id="sad">
						<label for="sad" class="icon icon-sad"></label>
						<span>2</span>
					</div>
				</div>
				<div class="d-flex justify-content-between mt-2">
					<div>Post.owner</div>
					<div>Post.date</div>
				</div>
				<p>Post.description</p>
			</div>
		</div>
	</div>
{% endif %}