{% extends "_layout.html" %}

{% block content %}

<div class="card">
	<img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}"
		alt="">
	<img class="card-img-top" src="../../../../static/image/saint_petersburg.jpg" alt="Saint Petersburg">
	<div class="card-body">
		<div class="d-flex justify-content-start status-container">
			<div class="status">
				<input type="checkbox" name="emoji" id="smile">
				<label for="smile" class="icon icon-smile"></label>
				<span>2</span>
			</div>
			<div class="status">
				<input type="checkbox" name="emoji" id="shocked">
				<label for="shocked" class="icon icon-shocked"></label>
				<span>2</span>
			</div>
			<div class="status">
				<input type="checkbox" name="emoji" id="sad">
				<label for="sad" class="icon icon-sad"></label>
				<span>2</span>
			</div>
		</div>
		{% if post.author == current_user %}
		<div>
			<a class="btn btn-secondary btn-sm my-1" href="{{ url_for('update_post', post_id=post.id) }}">Update</a>
			<button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete</button>
		</div>
		{% endif %}
		<div class="user-details">
			<div class="d-flex justify-content-between mt-2">
				<div>{{ post.author.username }}</div>
				<div>{{ post.date_posted.strftime('%Y-%m-%d ') }}</div>
			</div>
			<h5>{{ post.title }}</h5>
			<p>{{ post.content }}</p>
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="deleteModalLabel">Delete Post?</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<form action="{{ url_for('delete_post', post_id=post.id) }}" method="POST">
					<input class="btn btn-danger" type="submit" value="Delete">
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}